::-moz-selection{
    background-color: #ee0970;
}

::selection{
    background-color: #ee0970;
}

img::-moz-selection{
    background-color: transparent;
}

img::selection{
    background-color: transparent;
}

body{
    color:white;
    scroll-behavior: smooth;
    max-width: inherit;
    
}

.bg{
    height:765px;
    background-color: #111d27
}

/* HEADER */

#text{
    font-family: 'Major Mono Display', monospace;
    position: relative ;
    margin-top : -32%;
    text-align: center;
    margin-left: 290px;
    font-size: 12rem;
   
}

#details{
    position: relative;
}

#contact{
    display: inline-block;
    margin-left: 1370px;
    margin-top:40px;
    font-size: 23px;
}

#logo{
    margin-top: 30px;
    position: relative;
}

#circles{
    width:1100px;
    height: 500px;
}

#text{
    position: absolute;
}

#details{
    margin-top: -7%;
    font-size: 22px;
    height: 150px;
    font-family: 'Sunflower', sans-serif;   
}

#detail{
    padding-left: 170px;
    border-right: 2px solid white;
    

}

.disp-inline{
    display: inline;
}

#sq{
    width : 100px;
    margin-top : 5%;
    margin-left: 35px;
}

#sqtext{
    position: relative;
    font-family: 'Sunflower', sans-serif;
    margin-left : -19%;
    padding-top : 80px;
    color: #111d27;
    vertical-align: bottom;
}

#tr{
    width: 100px;
    margin-top: 5%;
    margin-left : 65px;


}

#trtext{
    position: relative;
    font-family: 'Sunflower', sans-serif;
    margin-left : -19%;
    margin-top : 20px;
    padding-left: 2px;
    color : #FC0AA1;
    vertical-align: bottom;
}

/* INTRO */

#content{
    display: inline-block;
    margin-top : 390px;
    width: inherit;

}

.subtext{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;
    width : 296px;
}

.figure{
    margin-left: 280px;
    height: 100px;
}

#manbg{
    float: right;
    margin-top: -100%;
    z-index: 9;
}

#man{
    float: right;
    margin-right: 0px;
    z-index: 10;
    margin-top: 35%;
}

.row{
    height: inherit;
}

#contact:hover{
    color: wheat;
}

/*game of code*/

#goc_bg{
    height:765px;
    background:  #111d27
}

#goccontent{
    margin-top: 30%;
    padding-left: 10%;


}

#goc{
    width:inherit;
    margin-top:28%;
}

.shapes{
    height: 70px;;
}

.learn{
    border-radius: 35px !important;
    width: 150px;
    height: 55px;
    font-size: 18px;
    font-family: 'Sunflower', sans-serif;
    background: linear-gradient(90deg, #41BDF2 -15.14%, #13FFBE 120.91%) !important;
    color: black;
    margin-left: 3%; 
}

.goctext{
    padding-left: 3%;
    font-family: 'Sunflower', sans-serif;  
    font-size: 16px; 
}

/*qa*/

#qacontent{
    margin-left: 22%;
    font-size: 20px;
    margin-top: 30%;
}

.qatext{
    padding-left: 3%;
    font-family: 'Sunflower', sans-serif;
}

.qapic{
    height: 60px;;
}

#qabg{
    margin-top: -35%;
    z-index: -1;
}

#qa{
    float: right;
    margin-right: 0px;
    z-index: 0;
    margin-top: 35%;
}

/*blog*/

#carddis{
    margin: 7% 16%;
   
}

.blogbg{
    height:1200px;
    background-color: #111d27
}

#blogtext{
    width: 100%;
}

.carousel-class{
    width: 100%;
}

.card{
    height: 400px;
    width: 90%;
    border-radius: 57px;
}

#carda{
    float: right;
    display: inline-block;
    background: linear-gradient(30.35deg, #D37200 1.89%, rgba(255, 138, 0, 0) 96.71%);
}

#center{
    text-align: center;
}

#cardb{
    align-self: center;
    display: inline-block;
    background: linear-gradient(30.59deg, #0E5EE6 1.66%, rgba(0, 94, 255, 0) 96.72%);
}

#cardc{
    display: inline-block;
    background: linear-gradient(30.66deg, rgba(235, 0, 255, 0.99) 1.53%, rgba(235, 0, 255, 0) 96.91%);
    z-index: 1;
}

#blogsbut{
    width: 180px;
    border-radius: 35px !important;
    font-size: 18px;
    height: 45px;
    background: linear-gradient(90deg, #41BDF2 -15.14%, #13FFBE 120.91%) !important;
    color: black;
    margin-right: 4%;
    float: right;

}

.blog-card{
    float: right;
    right: 0px;
    margin-right: -10%;
    width: 200px;
    /* height: 151.13px; */
}

.Pentool{
    z-index: 100;
    margin-top: -100px;
    top: -100px;
}

/*FOOTER*/

#footer{
    height: 200px;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

#fcontent{
    padding-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    
}

#dsclogo{
    height:60px;
    
}

#ftext{
    font-family: 'Sunflower', sans-serif;
    font-size: 45px;
    padding-left: 10px;
    background: inherit;
    vertical-align: middle;
}

#icons{
    float: right;
    padding-top: 10px;
}

.fab{
    margin-left: 10px;
    padding: 5px;
}

#bottom{
    font-size: 20px;
}

.fa-facebook-square:hover {
    color: #4267b2;
  }
  
  .fa-instagram:hover {
    color: #e64c5c;
  }
  
  .fa-dribbble-square:hover {
    color: #ae004f;
  }
  
  .fa-twitter-square:hover {
    color: #1ab2e8;
  }

  .fa-github-square:hover{
      color:black;
  }

  #ftext:hover{
    font-weight: 600;
    background: rgb(236,66,53);
    background: -webkit-linear-gradient(90deg, rgba(236,66,53,1) 0%, rgba(15,157,85,1) 50%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }