html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
main{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.right{
  width: 40%;
}

  .flex-disp{
    display: flex;
  }
  
  .logo-image{
    height: 30px;
  }
  
  .logo-text{
    font-size: 3.5vh;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    vertical-align: middle;
  }
  
  .navbar-toggler:focus{
    outline: none;
  }
  
  .hamburger{
    height: 30px;
    padding-bottom: 0.5vh;
    outline: none;
  }
  
  .nav-link{
    color: #000000;
    font-size: 2.5vh;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
  }
  
  .middle{
      width: 30%;
  }

  .team{
    font-family: 'Sunflower', sans-serif;
    font-size: 7vh;
    padding-top: 3vh;
    padding-left: 2vw;
  }

  .team-desc{
    padding: 2vh 0vh 2vw 2vw; 
    font-family: 'Sunflower', sans-serif; 
  }

  .team-mem{
    display: block;
    font-family: 'Sunflower', sans-serif;
    font-size: 3vh;
    padding: 2vh 0vh 1vh 2vw;
  }

  .name-elem{
    list-style-type: none;
    font-family: 'Sunflower', sans-serif;
    font-size: 3vh;
    padding-left: 2vw;
  }

  #carousel {
    /* position: initial; */
    height: 100%;
    right: 10%;
    overflow: hidden;
  }
  
  #carousel div {
    position: absolute;
    transition: transform 1s, top 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  
  #carousel div img {
    width: 400px;
    transition: width 1s;
  }
  
  #carousel div.hideTop {
    top: 0%;
    opacity: 0; 
    transform: translateX(50%) translateY(-90%);
  }
  
  #carousel div.hideTop img {
    width: 200px;
  }
  
  #carousel div.hideBottom {
    top: 100%;
    opacity: 0;
    transform: translateX(50%) translateY(-90%);
  }
  
  #carousel div.hideBottom img {
    width: 200px;
  }
  
  #carousel div.prev {
    z-index: 5;
    top: 30%;
    transform: translateX(50px) translateY(-80%);
  }
  
  #carousel div.prev img {
    width: 300px;
  }
  
  #carousel div.selected {
    z-index: 10;
    top: 50%;
    transform: translateX(0px) translateY(-50%);
  }
  
  #carousel div.next {
    z-index: 5;
    top: 90%;
    transform: translateX(50px) translateY(-80%);
  }
  
  #carousel div.next img {
    width: 300px;
  }
  
  .buttons {
    position: fixed;
    left: 55%;
    top: 50%;
    border: none;
    z-index: 100;
    transform: translateY(-50%);
  }
  
  .button{
    border: none;
    padding: 0;
    background: #ffffff;
    outline: none;
  }

  .button:focus{
    outline: none;
  }

  #prev-image{
    transform: scale(0.5);
  }

  #next-image{
    transform: rotateX(180deg) scale(0.5);
  }